@using MongoDB.Driver
@using RunnersBlogMVC.Controllers
@using RunnersBlogMVC.DTO
@using RunnersBlogMVC.Models.Enums;
@using RunnersBlogMVC.Repositories
@model Item
@{
    ViewData["Title"] = "Items page";
}
<h1>All Items</h1>
<div>
</div>
<div class="container p-3">
    <div class="row pt-4">
        <form asp-controller="Items" asp-action="SearchItem" method="get">
            <input type="text" name="searchBy" />
            <input type="submit" value="Search" />
        </form>
          @{
           if (User?.Identity?.IsAuthenticated == true)
           {
        <div class="col-6 text-end">
           <a asp-controller="Items" asp-action="CreateItem" class="btn btn-primary">
                <em class="bi bi-bag-plus-fill"></em> &nbsp; Sell Your Item
           </a>
        </div>
           }
           }
    </div>
</div>
<br />

<aria-label>Stock of available shoes</aria-label>
<table class="table table-bordered table-striped" style="width:100%">
    <caption>Table of all available Items</caption>
    <thead>
        <tr>
            <th>
                Name of Item
            </th>
            <th>
                <a style="color: black;" asp-action="OrderItems" asp-route-sortOrder="@Html.DisplayNameFor(model => model.Price)">
                    Price
                </a>
            </th>
            <th>
                Description of Item
            </th>
            <th>
            </th>
            <th>
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var obj in ViewBag.Items)
        {
            <tr>
                <td>
                    @obj.Name
                </td>
                <td>
                    @obj.Price
                </td>
                <td>
                    @obj.Description
                </td>
                @{
                    if (User?.Identity?.IsAuthenticated == true)
                    {
                        if (User.IsInRole("Admin"))
                        {
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Items" asp-action="UpdateItem" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <em class="bi bi-pencil-square"></em>Edit</a>
                                </div>
                            </td>
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Items" asp-action="DeleteItem" asp-route-id="@obj.Id"
                           class="btn btn-primary mx-2"> <em class="bi bi-trash3"></em>Delete</a>
                                </div>
                            </td>
                            <td>
                                @obj.Id
                            </td>
                        }
                        <td>
                            @obj.CreatedDate
                        </td>
                        <td>
                            @obj.CreatedBy
                        </td>
                        if (@obj.ItemAvailabilityStatus == ItemStatus.Available.ToString())
                        {
                            <td>
                                <div class="w-75 btn-group" role="group">
                                    <a asp-controller="Items" asp-action="ReserveItem" asp-route-id="@obj.Id"
                                    class="btn btn-primary mx-2"> <em class="bi bi-pencil-square"></em>Reserve
                                    </a>
                                </div>
                            </td>
                        }
                    }
                }
                @{
                    if (@obj.ItemAvailabilityStatus == ItemStatus.Reserved.ToString())
                    {
                        <td style="color: red">
                            RESERVED
                        </td>
                    }
                    else if (@obj.ItemAvailabilityStatus == ItemStatus.Available.ToString())
                    {
                        <td style="color: green">
                            AVAILABLE
                        </td>
                    }
                    else if (@obj.ItemAvailabilityStatus == ItemStatus.Sold.ToString())
                    {
                        <td style="color: blue">
                            SOLD
                        </td>
                    }
                }
            </tr>
        }
    </tbody>
</table>
@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}